.App {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.chat {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.bubble {
  margin-left: 12px;
  background-color: #103b5c;
  padding: 10px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  position: relative;
}

.message {
  margin-top: 5px;
}
.bubble::before {
  content: "";
  position: absolute;

  height: 10px;
  width: 20px;

  bottom: 0;
  left: -20px;

  border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -webkit-border-radius: 0 0 10px 0;

  -webkit-box-shadow: 10px 0 0 0 #103b5c;
  box-shadow: 10px 0 0 0 #103b5c;
}
.like {
  margin: 0 20px;
}

@media only screen and (min-width: 1000px) {
  .App {
    flex-direction: row;
  }
}
